{% extends 'partials/base.html' %}
{% block title %} staff page {% endblock %}  

{% block content %}
{% include 'partials/topside.html' %}
<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in staffs %}
                    <tr>
                        <th scope="row"><a class="btn btn-info btn-sm" href="{% url 'dashboard-staff-details' staff.id %}">View</a></th>
                        <td>{{staff.username}}</td>
                        <td>{{staff.email}}</td>
                        <td>{{staff.profile.phone}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<!--End Table-->
{% endblock %}

